.cart__container {
    min-height: calc(80vh + 5rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 251, 227);
}
.cart__title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.4rem;
}
.cart__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.cart__sum {
    margin-top: 4rem;
    font-size: 2.4rem;
}