.user__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(80vh + 5rem);
    padding: 1rem;
    background-color: rgb(227, 251, 227);
}
.user__information {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.block__columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.information__image {
    width: 15rem;
    height: 15rem;
    background-image: url(../../assets/customer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    background-color: rgb(235, 244, 251);
    box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.167);
}
.information__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cart__products { 
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.text__italic {
    display: block;
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.personal__block,
.address__block {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}