.main {
    min-height: calc(80vh + 5rem);
    background-color: rgb(209, 249, 209);;
}
.main__contant{
    padding: 3rem 1rem;
    
}
.panel{
    background-color: rgb(151, 121, 121);
    height: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}