.cart__product__card{
    display: flex;
    flex-direction: row;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.product__card__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.image_small {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}
.product__card__description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.description__title{
    font-size: 1.6rem;
    font-weight: 700;
}
.price{
    font-size: 1.8rem;
}
.delete__block{
    position: relative;
}
.delete__icon{
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/bin.png);
    background-size: contain;
    cursor: pointer;
}
.delete__block:hover{
    opacity: 0.6;
    transform: scale(1.1);
    transition: all 0.3s;
}
.popconfirm{
    position: absolute;
    width: 15rem;
    height: 3rem;
    top: 3rem;
    right: 0;
    background-color: aliceblue;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.435);
}
.product__card__price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}